In [1]:
x = 2
y = 3

In [2]:
z = x+y
print(z)

5

In [ ]:
Rules for declaring the variable in python :

In [ ]:
1. No Namespaces while declaring the variable name.

In [3]:
first name = "faiyaz"
print(first name)

SyntaxError: invalid syntax (559549166.py, line 1)

In [4]:
firstname = "faiyaz"
print(firstname)

faiyaz

In [6]:
2. A variable name should not start with a number. **

SyntaxError: invalid syntax (2422877275.py, line 1)

In [7]:
1name = "Kartik"
print(1name)

SyntaxError: invalid syntax (2695156884.py, line 1)

In [8]:
name1 = "Kartik"
print(name1)

Kartik

In [ ]:
3. A variable name should not contain any special character.
@#$%

In [9]:
name@ = "naveen"
pirnt(name@)

SyntaxError: invalid syntax (2255848460.py, line 1)

In [10]:
Introduction to datatypes in python :
    1. string --- str
    2. Number --- integers (int) and floats (float) --- decimals
    3. list  --- list
    4. tuple --- tuple
    5. dictionary --- dict

SyntaxError: invalid syntax (2207005576.py, line 1)

In [ ]:
Classification of the data types :
    Data types are broadly classified in two different categories :
        1. mutable datatypes --- which we can edit or alter --- flexible
        2. immutable dtypes --- which we cannot edit or alter --- fixed.

In [ ]:
Introduction to string datatype :
    Definition : A string is nothing but a series of characters declared in quotes.
        Classification : It is classified as an immutable datatype
            How todeclare or define the string .... ? 3 possible approaches
            1. single quote
            2. double quote
            3. triple quote

In [11]:
name1 = "kiran"   # double quote
print(name1)

kiran

In [12]:
name2 = 'kiran'    # single quote
print(name2)

kiran

In [17]:
name3 = """david"""  # triple quote 
print(name3)

david

In [18]:
Note : # is used for commenting the lines in python.

SyntaxError: invalid syntax (4087708466.py, line 1)

In [ ]:
Introduction to string methods :

In [19]:
type(name1)

str

In [20]:
type(name2)

str

In [ ]:
type(name3)